<div class="news">
  <h3>blog posts</h3>
  {% if site.blog_posts  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign blog_posts = site.blog_posts | reverse %}
      {% for item in blog_posts limit: 5 %}
        <tr>
          <th scope="row">{{ item.date | date: "%b %d, %Y"}}</th>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="blog_posts-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No posts so far...</p>
  {% endif %}
</div>
